button {
  display: flex;
  padding: 0.3rem;
  border-radius: 0.5rem;
  border: 1px solid rgba(255, 255, 255, 0.2);
  outline: none;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  background-color: transparent;
  cursor: pointer;
  // transition: border-color 0.25s;
  transition: border 0.25s, outline 0.25s;

  &:hover {
    border: 1px solid #fff;
  }

  // &:focus,
  // &:active,
  // &:focus-visible {
  // outline: 1px solid #fff;
  // background-color: #fff;
  // }

  &.buttons__icons {
    font-size: 1.25rem;
  }
}
